* {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.cont {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;

  /* border: 5px solid black; */
  background-image: url("../image/background3.jpg");
  background-size: 100% 120%;
  display: flex;
}

.cont_center_left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cont_center_right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* .cont_login {
    position: relative;
    width: 50%;
  } */
.start {
  margin: 0;
  min-height: 296.1px;
  height: fit-content;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  text-align: center;
  /* border: 3px dotted red; */
}
.start > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
  /* border: 5px solid black; */
}
.start > div > div {
  float: left;
}
.start > div > div > button {
  max-width: fit-content;
  float: left;
}
button {
  width: 80%;
  margin: 1%;
}
.inputform {
  width: 80%;
  margin-left: 10%;
  display: flex;
  align-items: center;
}
